includes:
    - phpstan-baseline.neon
parameters:
    level: 8
    phpVersion: 80400
    fileExtensions:
        - php
    tmpDir: ./runtime/.phpstan/
    paths:
        - 'src'
        - 'benchmarks'
    excludePaths:
        - src/Backends/Amp.php
        - src/Backends/Swoole.php
        - tests/Backends/SwooleTest.php
    ignoreErrors:
        # ------------------------------------
        # Ignore errors that are caused by NumPower
        # ------------------------------------
        - message: '#^Binary operation "\*\*" between NDArray and .* results in an error.#'
          paths:
            - src/NeuralNet/ActivationFunctions/*
