includes:
    - phpstan.neon

parameters:
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        # ----------------------------------------------------
        # Removing of these errors require code refactoring
        # ----------------------------------------------------
        -
            message: '#^Property Rubix\\ML\\Classifiers\\NaiveBayes\:\:\$counts \(array<string, list<array<int<0, max>>>>\) does not accept non\-empty\-array<array<array<int<0, max>>>>\.$#'
            identifier: assign.propertyType
            count: 1
            path: src/Classifiers/NaiveBayes.php

        -
            message: '#^Property Rubix\\ML\\Classifiers\\NaiveBayes\:\:\$probs \(array<string, list<array<float>>>\) does not accept non\-empty\-array<array<array<float>>>\.$#'
            identifier: assign.propertyType
            count: 1
            path: src/Classifiers/NaiveBayes.php

        -
            message: '#^Parameter \#1 \.\.\.\$arg1 of function min expects non\-empty\-array, array<int\|string, int<1, max>> given\.$#'
            identifier: argument.type
            count: 1
            path: src/Classifiers/RandomForest.php

        -
            message: '#^Property Rubix\\ML\\Classifiers\\ClassificationTree\:\:\$classes \(list<string>\) in isset\(\) is not nullable\.$#'
            identifier: isset.property
            count: 1
            path: src/Classifiers/ClassificationTree.php

        -
            message: '#^Property Rubix\\ML\\Classifiers\\ExtraTreeClassifier\:\:\$classes \(array<string>\) in isset\(\) is not nullable\.$#'
            identifier: isset.property
            count: 1
            path: src/Classifiers/ExtraTreeClassifier.php

        -
            message: '#^Property Rubix\\ML\\Regressors\\GradientBoost\:\:\$ensemble \(array<mixed>\) in isset\(\) is not nullable\.$#'
            identifier: isset.property
            count: 2
            path: src/Regressors/GradientBoost.php

        -
            message: '#^Property Rubix\\ML\\Regressors\\GradientBoost\\GradientBoost\:\:\$ensemble \(array<mixed>\) in isset\(\) is not nullable\.$#'
            identifier: isset.property
            count: 2
            path: src/Regressors/GradientBoost/GradientBoost.php

        -
            message: '#^Parameter \#2 \$labels of method Rubix\\ML\\Clusterers\\KMeans\:\:inertia\(\) expects list<int>, array<mixed> given\.$#'
            identifier: argument.type
            count: 1
            path: src/Clusterers/KMeans.php

        -
            message: '#^Parameter \#2 \$labels of method Rubix\\ML\\CrossValidation\\Metrics\\Metric\:\:score\(\) expects list\<float\|int\|string\>, array\<mixed\> given\.$#'
            identifier: argument.type
            count: 1
            path: src/Clusterers/KMeans.php

        -
            # Temporary fix for NumPower::array() 2nd parameter missing until it is fixed
            message: '#^Static method NumPower\:\:array\(\) invoked with 1 parameter, 2 required\.$#'
            identifier: arguments.count
            path: src/**
