parameters:
    level: 6
    phpVersion: 80400
    bootstrapFiles:
        - phpstan-bootstrap.php
    fileExtensions:
        - php
    tmpDir: ./runtime/.phpstan/
    paths:
        - 'src'
        - 'benchmarks'
    ignoreErrors:
        - identifier: foreach.emptyArray
    
