includes:
    - phpstan-baseline.neon
parameters:
    level: 8
    paths:
        - 'src'
        - 'benchmarks'
    excludePaths:
        - src/Backends/Amp.php
        - src/Backends/Swoole.php
        - tests/Backends/SwooleTest.php
