name: "Docs"

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
          fetch-depth: 0
      - run: pip install mike
      - run: pip install mkdocs-material
      - run: pip install mkdocs-git-revision-date-plugin
      - run: mike deploy --push --update-aliases -f 0.x latest
      