name: "Docs"

on:
  push:
    branches:
      - master

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install Dependencies
        run: pip install mike mkdocs-material mkdocs-git-revision-date-plugin

      - name: Setup Doc Bot
        run: |
          git config --global user.name "Doc Bot"
          git config --global user.email support@rubixml.com

      - name: Build Docs Site    
        run: mike deploy --push --update-aliases 0.x latest
      